fieldset,body,p{
    width: 1000px;
    margin-left: 15px;
    border-radius: 10px;
    border-color: black;
}
input{
    border-color: rgb(196, 190, 190);;
}
.Title{
    text-align: center;
    background-color: khaki;
    padding: 20px;
    border-radius: 5px;
}
